<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.willchair.Mapper.LocationMapper">

    <select id="getTotalLocation" resultType="Integer">
		select count(*) from app.master_location_code
	</select>
	
	<select id="getTotalActive" resultType="Integer">
		select count(*) from app.master_location_code where active_flag = 'Y'
	</select>	

	<select id="getTotalActiveN" resultType="Integer">
		select count(*) from app.master_location_code where active_flag = 'N'
	</select>	

	<select id="getLocationList" parameterType="hashMap" resultType="LocationVo">
		select sido_code,
                sido_name,
                cluster_code,
                cluster_name,
                active_flag
		from app.master_location_code
		where 1=1
		<if test="inq != null">
			AND 
			<choose>
				<when test="con == 'name'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						sido_name LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<when test="con == 'clusterName'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						cluster_name LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<when test="con == 'active'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						active_flag LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<otherwise>
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						sido_name LIKE '%' || #{item} || '%'
						or cluster_name LIKE '%' || #{item} || '%'
						or active_flag LIKE '%' || #{item} || '%'
					</foreach>
				</otherwise>
			</choose>
		</if>
		order by sido_code
	</select>
	
	<update id="updateLocation" parameterType="hashMap">
		UPDATE app.master_location_code SET 
		   active_flag=#{activeFlag} 
		WHERE cluster_code=#{clusterCode}
	</update>
</mapper>