<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.willchair.Mapper.LoginMapper">

	<select id="getPassword" parameterType="UserVo" resultType="UserVo">
		select
			user_id,
			user_pass,
			password_key
		from public.user
		where user_id = #{userId}
	</select>
	
	<update id="updateLoginTime" parameterType="UserVo">
		update public.user set
		latest_dt = #{latestDt}::timestamp
		where user_id = #{userId}
	</update>
	
</mapper>