<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.willchair.Mapper.StoreMapper">

	<select id="getTotalRestaurant" resultType="Integer">
		select count(*) from app.storeinfo 
		where first_type_code = 'R'
		and active_flag = 'Y'
	</select>
	
	<select id="getTotalRestaurantN" resultType="Integer">
		select count(*) from app.storeinfo 
		where first_type_code = 'R'
		and active_flag = 'N'
	</select>	

	<select id="getTotalCafe" resultType="Integer">
		select count(*) from app.storeinfo 
		where first_type_code = 'C'
			and active_flag = 'Y'
	</select>	

	<select id="getTotalCafeN" resultType="Integer">
		select count(*) from app.storeinfo 
		where first_type_code = 'C'
		and active_flag = 'N'
	</select>	

	<select id="getStoreList" parameterType="hashMap" resultType="StoreVo">
		select storeidx,
				cret_time,
				ch_time,
				good_store_flag,
				store_name ,
				store_loc_name ,
				first_type_name,
				first_type_code,
				second_type_name,
				second_type_code,
				third_type_name,
				sido_code,      
				sido_name,      
				sigugun_code,   
				sigugun_name,   
				cluster_code,   
				cluster_name,   
				hdong_name,     
				ldong_name,     
				store_address,  
				callnumber,     
				store_info,     
				lat_x,          
				lng_y,          
				picto_firstfloor,
				picto_firstfloor_name ,
				picto_runway,   
				picto_runway_name,     
				picto_entancesill,     
				picto_entancesill_name,
				picto_not_entancesill, 
				picto_not_entancesill_name,
				picto_table,    
				picto_table_name,
				picto_restroomsill,    
				picto_restroomsill_name,   
				picto_not_restroomsill,
				picto_not_restroomsill_name,
				picto_handi_restroom,  
				picto_handi_restroom_name, 
				picto_elvator,  
				picto_elvator_name,    
				picto_parking,  
				picto_parking_name,    
				picto_handi_parking,   
				picto_handi_parking_name,  
				picto_togo,     
				picto_togo_name,
				img_main,       
				img_main_path,
				img_enter,      
				img_enter_path,    
				img_runway,     
				img_runway_path,   
				img_inside,     
				img_inside_path,   
				img_restroom,   
				img_restroom_path, 
				img_elvator,    
				img_elvator_path,  
				img_parking,    
				img_parking_path,  
				img_store_all,  
				img_store_all_path,
				active_flag,    
				active_flag_closingtime ,
				likeup,    
				addup,     
				shareup,   
				readcnt  
		from app.storeinfo
		where 1=1
		<if test="inq != null">
			AND 
			<choose>
				<when test="con == 'name'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						store_name LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<when test="con == 'type'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						first_type_name LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<when test="con == 'sido'">
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						sido_name LIKE '%' || #{item} || '%'
					</foreach>
				</when>
				<otherwise>
					<foreach collection="inq" item="item"
						index="index" open="(" close=")" separator="or">
						store_name LIKE '%' || #{item} || '%'
						or first_type_name LIKE '%' || #{item} || '%'
						or sido_name LIKE '%' || #{item} || '%'
					</foreach>
				</otherwise>
			</choose>
		</if>
		order by storeidx
	</select>

	<insert id="saveNewStore" parameterType="hashMap">
		insert into app.storeinfo
			(
				storeidx,
				cret_time,
				good_store_flag,
				store_name ,
				store_loc_name ,
				first_type_name,
				first_type_code,
				second_type_name,
				second_type_code,
				third_type_name,
				sido_code,      
				sido_name,      
				sigugun_code,   
				sigugun_name,   
				cluster_code,   
				cluster_name,   
				hdong_name,     
				ldong_name,     
				store_address,  
				callnumber,     
				store_info,     
				lat_x,          
				lng_y,          
				picto_firstfloor,
				picto_firstfloor_name ,
				picto_runway,   
				picto_runway_name,     
				picto_entancesill,     
				picto_entancesill_name,
				picto_not_entancesill, 
				picto_not_entancesill_name,
				picto_table,    
				picto_table_name,
				picto_restroomsill,    
				picto_restroomsill_name,   
				picto_not_restroomsill,
				picto_not_restroomsill_name,
				picto_handi_restroom,  
				picto_handi_restroom_name, 
				picto_elvator,  
				picto_elvator_name,    
				picto_parking,  
				picto_parking_name,    
				picto_handi_parking,   
				picto_handi_parking_name,  
				picto_togo,     
				picto_togo_name,
				img_main,       
				img_main_path,
				img_enter,      
				img_enter_path,    
				img_runway,     
				img_runway_path,   
				img_inside,     
				img_inside_path,   
				img_restroom,   
				img_restroom_path, 
				img_elvator,    
				img_elvator_path,  
				img_parking,    
				img_parking_path,  
				img_store_all,  
				img_store_all_path,
				active_flag,
				likeup,
				addup,
				shareup,
				readcnt      
			) values
			(
				(select max(storeidx)+1 from app.storeinfo),
				LOCALTIMESTAMP(0),
				#{goodStoreFlag},
				#{storeName},
				#{storeLocName},
				#{firstTypeName},
				#{firstTypeCode},
				#{secondTypeName},
				#{secondTypeCode},
				#{thirdTypeName},
				#{sidoCode},
				#{sidoName},
				#{sigugunCode},
				#{sigugunName},
				#{clusterCode},
				#{clusterName},
				#{hdongName},
				#{ldongName},
				#{storeAddress},
				#{callNumber},
				#{storeInfo},     
				#{latX},          
				#{lngY},          
				#{pictoFirstFloor},
				#{pictoFirstFloorName} ,
				#{pictoRunway},   
				#{pictoRunwayName},     
				#{pictoEntancesill},     
				#{pictoEntancesillName},
				#{pictoNotEntancesill}, 
				#{pictoNotEntancesillName},
				#{pictoTable},    
				#{pictoTableName},
				#{pictoRestroomsill},    
				#{pictoRestroomsillName},   
				#{pictoNotRestroomsill},
				#{pictoNotRestroomsillName},
				#{pictoHandiRestroom},  
				#{pictoHandiRestroomName}, 
				#{pictoElvator},  
				#{pictoElvatorName},    
				#{pictoParking},  
				#{pictoParkingName},    
				#{pictoHandiParking},   
				#{pictoHandiParkingName},  
				#{pictoTogo},     
				#{pictoTogoName},
				#{imgMain},       
				#{imgMainPath},
				#{imgEnter},      
				#{imgEnterPath},    
				#{imgRunway},     
				#{imgRunwayPath},   
				#{imgInside},     
				#{imgInsidePath},   
				#{imgRestroom},   
				#{imgRestroomPath}, 
				#{imgElvator},    
				#{imgElvatorPath},  
				#{imgParking},    
				#{imgParkingPath},  
				#{imgStoreAll},  
				#{imgStoreAllPath},
				#{activeFlag},
				0,
				0,
				0,
				0    
			)	
	</insert>

	<insert id="saveStoreList" parameterType = "StoreVo">
			insert into app.storeinfo
			(
				storeidx,
				cret_time,
				good_store_flag,
				store_name ,
				store_loc_name ,
				first_type_name,
				first_type_code,
				second_type_name,
				second_type_code,
				third_type_name,
				sido_code,      
				sido_name,      
				sigugun_code,   
				sigugun_name,   
				cluster_code,   
				cluster_name,   
				hdong_name,     
				ldong_name,     
				store_address,  
				callnumber,     
				store_info,     
				lat_x,          
				lng_y,          
				picto_firstfloor,
				picto_firstfloor_name ,
				picto_runway,   
				picto_runway_name,     
				picto_entancesill,     
				picto_entancesill_name,
				picto_not_entancesill, 
				picto_not_entancesill_name,
				picto_table,    
				picto_table_name,
				picto_restroomsill,    
				picto_restroomsill_name,   
				picto_not_restroomsill,
				picto_not_restroomsill_name,
				picto_handi_restroom,  
				picto_handi_restroom_name, 
				picto_elvator,  
				picto_elvator_name,    
				picto_parking,  
				picto_parking_name,    
				picto_handi_parking,   
				picto_handi_parking_name,  
				picto_togo,     
				picto_togo_name,
				img_main,       
				img_main_path,
				img_enter,      
				img_enter_path,    
				img_runway,     
				img_runway_path,   
				img_inside,     
				img_inside_path,   
				img_restroom,   
				img_restroom_path, 
				img_elvator,    
				img_elvator_path,  
				img_parking,    
				img_parking_path,  
				img_store_all,  
				img_store_all_path,
				active_flag,
				likeup,
				addup,
				shareup,
				readcnt   
			) values
			(
				(select max(storeidx)+1 from app.storeinfo),
				LOCALTIMESTAMP(0),
				#{goodStoreFlag},
				#{storeName},
				#{storeLocName},
				#{firstTypeName},
				#{firstTypeCode},
				#{secondTypeName},
				#{secondTypeCode},
				#{thirdTypeName},
				#{sidoCode},
				#{sidoName},
				#{sigugunCode},
				#{sigugunName},
				#{clusterCode},
				#{clusterName},
				#{hdongName},
				#{ldongName},
				#{storeAddress},
				#{callNumber},
				#{storeInfo},     
				#{latX},          
				#{lngY},          
				#{pictoFirstFloor},
				#{pictoFirstFloorName} ,
				#{pictoRunway},   
				#{pictoRunwayName},     
				#{pictoEntancesill},     
				#{pictoEntancesillName},
				#{pictoNotEntancesill}, 
				#{pictoNotEntancesillName},
				#{pictoTable},    
				#{pictoTableName},
				#{pictoRestroomsill},    
				#{pictoRestroomsillName},   
				#{pictoNotRestroomsill},
				#{pictoNotRestroomsillName},
				#{pictoHandiRestroom},  
				#{pictoHandiRestroomName}, 
				#{pictoElvator},  
				#{pictoElvatorName},    
				#{pictoParking},  
				#{pictoParkingName},    
				#{pictoHandiParking},   
				#{pictoHandiParkingName},  
				#{pictoTogo},     
				#{pictoTogoName},
				#{imgMain},       
				#{imgMainPath},
				#{imgEnter},      
				#{imgEnterPath},    
				#{imgRunway},     
				#{imgRunwayPath},   
				#{imgInside},     
				#{imgInsidePath},   
				#{imgRestroom},   
				#{imgRestroomPath}, 
				#{imgElvator},    
				#{imgElvatorPath},  
				#{imgParking},    
				#{imgParkingPath},  
				#{imgStoreAll},  
				#{imgStoreAllPath},
				#{activeFlag},
				0,
				0,
				0,
				0
			)ON CONFLICT(lat_x,lng_y)
			DO update set
				ch_time = LOCALTIMESTAMP(0),
				good_store_flag = #{goodStoreFlag},
				store_name = #{storeName},
				store_loc_name = #{storeLocName},
				first_type_name = #{firstTypeName},
				first_type_code = #{firstTypeCode},
				second_type_name = #{secondTypeName},
				second_type_code = #{secondTypeCode},
				third_type_name = #{thirdTypeName},
				sido_code = #{sidoCode},      
				sido_name = #{sidoName},      
				sigugun_code = #{sigugunCode},   
				sigugun_name = #{sigugunName},   
				cluster_code = #{clusterCode},   
				cluster_name = #{clusterName},   
				hdong_name = #{hdongName},     
				ldong_name = #{ldongName},     
				store_address = #{storeAddress},  
				callnumber = #{callNumber},     
				store_info = #{storeInfo},     
				lat_x = #{latX},          
				lng_y = #{lngY},          
				picto_firstfloor = #{pictoFirstFloor},
				picto_firstfloor_name = #{pictoFirstFloorName} ,
				picto_runway = #{pictoRunway},   
				picto_runway_name = #{pictoRunwayName},     
				picto_entancesill = #{pictoEntancesill},     
				picto_entancesill_name = #{pictoEntancesillName},
				picto_not_entancesill = #{pictoNotEntancesill}, 
				picto_not_entancesill_name = #{pictoNotEntancesillName},
				picto_table = #{pictoTable},    
				picto_table_name = #{pictoTableName},
				picto_restroomsill = #{pictoRestroomsill},    
				picto_restroomsill_name = #{pictoRestroomsillName},   
				picto_not_restroomsill = #{pictoNotRestroomsill},
				picto_not_restroomsill_name = #{pictoNotRestroomsillName},
				picto_handi_restroom = #{pictoHandiRestroom},  
				picto_handi_restroom_name = #{pictoHandiRestroomName}, 
				picto_elvator = #{pictoElvator},  
				picto_elvator_name = #{pictoElvatorName},    
				picto_parking = #{pictoParking},  
				picto_parking_name = #{pictoParkingName},    
				picto_handi_parking = #{pictoHandiParking},   
				picto_handi_parking_name = #{pictoHandiParkingName},  
				picto_togo = #{pictoTogo},     
				picto_togo_name = #{pictoTogoName},
				img_main = #{imgMain},       
				img_main_path = #{imgMainPath},
				img_enter = #{imgEnter},      
				img_enter_path = #{imgEnterPath},    
				img_runway = #{imgRunway},     
				img_runway_path = #{imgRunwayPath},   
				img_inside = #{imgInside},     
				img_inside_path = #{imgInsidePath},   
				img_restroom = #{imgRestroom},   
				img_restroom_path = #{imgRestroomPath}, 
				img_elvator = #{imgElvator},    
				img_elvator_path = #{imgElvatorPath},  
				img_parking = #{imgParking},    
				img_parking_path = #{imgParkingPath},  
				img_store_all = #{imgStoreAll},  
				img_store_all_path = #{imgStoreAllPath},
				active_flag = #{activeFlag} 
	</insert>

	<update id="updateStore" parameterType="hashMap">
		update app.storeinfo SET
				ch_time = LOCALTIMESTAMP(0),
				good_store_flag = #{goodStoreFlag},
				store_name = #{storeName},
				store_loc_name = #{storeLocName},
				first_type_name = #{firstTypeName},
				first_type_code = #{firstTypeCode},
				second_type_name = #{secondTypeName},
				second_type_code = #{secondTypeCode},
				third_type_name = #{thirdTypeName},
				sido_code = #{sidoCode},      
				sido_name = #{sidoName},      
				sigugun_code = #{sigugunCode},   
				sigugun_name = #{sigugunName},   
				cluster_code = #{clusterCode},   
				cluster_name = #{clusterName},   
				hdong_name = #{hdongName},     
				ldong_name = #{ldongName},     
				store_address = #{storeAddress},  
				callnumber = #{callNumber},     
				store_info = #{storeInfo},     
				lat_x = #{latX},          
				lng_y = #{lngY},          
				picto_firstfloor = #{pictoFirstFloor},
				picto_firstfloor_name = #{pictoFirstFloorName} ,
				picto_runway = #{pictoRunway},   
				picto_runway_name = #{pictoRunwayName},     
				picto_entancesill = #{pictoEntancesill},     
				picto_entancesill_name = #{pictoEntancesillName},
				picto_not_entancesill = #{pictoNotEntancesill}, 
				picto_not_entancesill_name = #{pictoNotEntancesillName},
				picto_table = #{pictoTable},    
				picto_table_name = #{pictoTableName},
				picto_restroomsill = #{pictoRestroomsill},    
				picto_restroomsill_name = #{pictoRestroomsillName},   
				picto_not_restroomsill = #{pictoNotRestroomsill},
				picto_not_restroomsill_name = #{pictoNotRestroomsillName},
				picto_handi_restroom = #{pictoHandiRestroom},  
				picto_handi_restroom_name = #{pictoHandiRestroomName}, 
				picto_elvator = #{pictoElvator},  
				picto_elvator_name = #{pictoElvatorName},    
				picto_parking = #{pictoParking},  
				picto_parking_name = #{pictoParkingName},    
				picto_handi_parking = #{pictoHandiParking},   
				picto_handi_parking_name = #{pictoHandiParkingName},  
				picto_togo = #{pictoTogo},     
				picto_togo_name = #{pictoTogoName},
				img_main = #{imgMain},       
				img_main_path = #{imgMainPath},
				img_enter = #{imgEnter},      
				img_enter_path = #{imgEnterPath},    
				img_runway = #{imgRunway},     
				img_runway_path = #{imgRunwayPath},   
				img_inside = #{imgInside},     
				img_inside_path = #{imgInsidePath},   
				img_restroom = #{imgRestroom},   
				img_restroom_path = #{imgRestroomPath}, 
				img_elvator = #{imgElvator},    
				img_elvator_path = #{imgElvatorPath},  
				img_parking = #{imgParking},    
				img_parking_path = #{imgParkingPath},  
				img_store_all = #{imgStoreAll},  
				img_store_all_path = #{imgStoreAllPath},
				active_flag = #{activeFlag},
				active_flag_closingtime = #{a}
			where storeidx = #{storeidx}::integer
	</update>
	
	<update id="deleteStore" parameterType="hashMap">
		update app.storeinfo SET
				active_flag = 'N',
				active_flag_closingtime = LOCALTIMESTAMP(0)
		where storeidx = #{storeidx}::integer
	</update>


	<select id="dupCheckGrid" parameterType="StoreVo" resultType="String">
		select lat_x
		from app.storeinfo
		where lat_x = #{latX}
		and	lng_y = #{lngY}		
	</select>

</mapper>